.loading-screen {
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	outline: 0;
	opacity: 1;
	background: rgba(0,0,0,.8);
	text-align: center;
}

@-webkit-keyframes nprogress-spinner {
	0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes nprogress-spinner {
	0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
	100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes nprogress-spinner {
	0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
	100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes nprogress-spinner {
	0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
	100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
	0%   { transform: rotate(0deg);   transform: rotate(0deg); }
	100% { transform: rotate(360deg); transform: rotate(360deg); }
}

.preloader {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;

}

.preloader .inner {
	position: fixed;
	top: 20%;
	left: 50%;
	margin: 0 0 0 -50px;
	width: 100px;
	height: 100px;
	text-align: center;
}

.preloader-spinner {
	width: 24px;
	height: 24px;
	border: 3px solid transparent;
	border-left-color: #ffffff;
	border-right-color: #ffffff;
	border-top-color: #ffffff;
	border-radius: 50%;
	-webkit-animation: nprogress-spinner .4s linear infinite;
	-moz-animation: nprogress-spinner .4s linear infinite;
	-ms-animation: nprogress-spinner .4s linear infinite;
	-o-animation: nprogress-spinner .4s linear infinite;
	animation: nprogress-spinner .4s linear infinite;
}

.preloader-spinner {
	width: 100px;
	height: 100px;
	margin: 0 auto 20px;
	border-width: 3px;
}

.loading-spinner {
	/*position: absolute;*/
	/*left: 50%;*/
	/*top: 45%;*/
	margin-top: 350px;
	width: 50px;
	height: 50px;
	border-left-color: #1bbae1;
	border-right-color: #1bbae1;
	border-top-color: #1bbae1;
	-webkit-animation: nprogress-spinner .8s linear infinite;
	-moz-animation: nprogress-spinner .8s linear infinite;
	-ms-animation: nprogress-spinner .8s linear infinite;
	-o-animation: nprogress-spinner .8s linear infinite;
	animation: nprogress-spinner .8s linear infinite;
}

.loading-screen h1 {
	/*margin: 300px 0 0;*/
	color: #fff;
}